{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
        <title>購入履歴詳細</title>
        <link rel='stylesheet' type='text/css' href='{% static "shopping/css/style.css" %}' />
    </head>
<body>

    <h1>注文詳細</h1>

    <table>
        <tr>
            <th>注文番号</th>
            <td>{{ purchase.purchase_id }}</td>
        </tr>
        <tr>
            <th>注文日時</th>
            <td>{{ purchase.booked_date|date:"Y年m月d日 H:i" }}</td>
        </tr>
        <tr>
            <th>配送先</th>
            <td>{{ purchase.destination }}</td>
        </tr>
        <tr>
            <th>状態</th>
            <td>{% if purchase.cancel %}キャンセル済{% else %}有効{% endif %}</td>
        </tr>
    </table>

    <hr>

    <h3>注文商品</h3>
    <table border="1" cellpadding="5" cellspacing="0">
        <thead>
            <tr>
                <th>商品名</th>
                <th>商品の色</th>
                <th>メーカー名</th>
                <th>単価</th>
                <th>数量</th>
                <th>小計</th>
            </tr>
        </thead>
        <tbody>
            {% for d in details %}
                <tr>
                    <td>{{ d.item.name }}</td>
                    <td>{{ d.item.color }}</td>
                    <td>{{ d.item.manufacturer }}</td>
                    <td>{{ d.item.price }}円</td>
                    <td>{{ d.amount }}</td>
                    <td>{% widthratio d.item.price 1 d.amount %}円</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><strong>合計　{{ total }} 円</strong></p>

    <br />
    <li><a href="/shopping/">商品検索</a></li>
    <li><a href="/account/purchaseHistory/">購入履歴一覧</a></li>

</body>
</html>